################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/BoVloApp/obj/*
/BoVloApp/bin/*
/BoVloApp/.vs/*
/.vs/*
/BoVloApp/Mysqlconn.cs
/BoVloApp/VeloCity.cs
/BoVloApp/test.resx
/BoVloApp/VeloAdventure.cs
/BoVloApp/test.Designer.cs
/BoVloApp/test.cs
